@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono";
    font-size: 20px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navbar and Header */
h1 {
    font-family: 'JetBrains Mono';font-size: 40px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.title {
    margin: 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.title a,
.nav-links a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: white;
}

.header {
    padding: 10px;
    border: 1px solid white;
    background-color: #92a8d1;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

@media (min-width: 780px) {
    .header,
    .nav-links {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1000px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Container Flexbox */
article {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.container > div {
    background-color: #f1f1f1;
    margin: 20px;
    padding: 40px;
    border: 5px;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }

    .container > div {
        margin: 10px;
    }

    .center {
        display: flex;
        margin: auto;
    }
}

/*Image Slider */
.slider {
    width: 500px;
    height: 300px;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.slider-container {
    width: 1500px;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    float: left;
    margin: auto;
    padding: 0px;
    position: relative;
}

#slide-1:target ~ .slider-container {
    left: 0px;
}

#slide-2:target ~ .slider-container {
    left: -500px;
}

#slide-3:target ~ .slider-container {
    left: -1000px;
}

.circles {
    position: relative;
    top: -30px;
}

.circles a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: rgb(0, 157, 255);
}

/* Footer */
footer {
    margin-top: auto;
    background-color: #92a8d1;
    color: white;
    text-align: center;
}
